
<div class="">
    <footer class="text-center text-white">
      <div class="container">
        <section class="mt-5">
          <div class="row text-center d-flex justify-content-center pt-5">
            <div class="col-md-2">
              <h6 class="text-uppercase monomaniac-one-regular">
                <a href="#!" class="text-white">About us</a>
              </h6>
            </div>
  
            <div class="col-md-2">
              <h6 class="text-uppercase monomaniac-one-regular">
                <a href="#!" class="text-white">Products</a>
              </h6>
            </div>
  
            <div class="col-md-2">
              <h6 class="text-uppercase monomaniac-one-regular">
                <a href="#!" class="text-white">Awards</a>
              </h6>
            </div>
  
            <div class="col-md-2">
              <h6 class="text-uppercase monomaniac-one-regular">
                <a href="#!" class="text-white">Help</a>
              </h6>
            </div>
  
            <div class="col-md-2">
              <h6 class="text-uppercase monomaniac-one-regular">
                <a href="#!" class="text-white">Contact</a>
              </h6>
            </div>
          </div>
        </section>

  
        <hr class="my-4" />
  
        <section class="mb-2">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8 monomaniac-one-regular">
              <p>
              Esta aplicación se reinicia todos los dias con el objetivo de preservar los datos de muestra por defecto, esta aplicación esta diseñada simplemente con el objetivo de la practica de las tecnologias utilizadas en la misma.
              </p>
            </div>
          </div>
        </section>
      </div>
  
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2024 Copyright
      </div>
    </footer>
  </div>
