footer{
    background: url(https://images.hdqwalls.com/download/square-glitch-chaos-banner-abstract-4k-im-3840x2160.jpg);
}

.monomaniac-one-regular {
    font-family: "Monomaniac One", sans-serif;
    font-weight: 500;
    font-style: normal;
  }