
:host {
    display: block; 
    background-color: url(https://images.hdqwalls.com/download/square-glitch-chaos-banner-abstract-4k-im-3840x2160.jpg) #111111; 
    color: #ffffff; 
    text-align: center; 
}


.header {
    text-align: center;
}
.header .img-fluid {
    width: 50%;
    display: block; 
    margin: 0 auto;
    border-style: 5%;
}


h1, h2, h3, p {
    color: #ffffff;
    font-family: Arial, sans-serif;
}
