<!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Image</th>
            <th>Name</th>
            <th>Jutsu</th>
            <th>Clan</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let character of data; let id=index">
            <th scope="row">{{ id+1 }}</th>
            <td>
              <img [src]="character.image" class="rounded-circle">
            </td>
            
            <td>{{ character.name }}</td>
            <td>{{ character.jutsu }}</td>
            <td>{{ character.clan }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
