<body class="body">
  <section class="section py-8">
    <div class="container">
      <div class="row">
        <div class="col-14">
          <div class="section-title text-center mb-5">
            <h2 class="title mb-2 text-shadow monomaniac-one-regular">Bienvenidos a App Wiki</h2>
            <h4 class="text-shadow monomaniac-one-regular">Interactúa con nuestra app y los más enigmáticos personajes de anime y sus características.</h4>
          </div>
        </div>
      </div>

      <!-- Carousel Start -->
      <div id="carouselExample" class="carousel slide" >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card service-card mx-auto">
              <div class="card-body text-center d-block w-20 card-content-left">
                <i class="mdi mdi-eye fs-1 text-primary"></i>
                <h4 class="mt-3 text-white text-shadow">Ver Personajes</h4>
                <p class="text-white text-shadow">Hecha un vistazo a todos los personajes</p>
                <span class="first-img"></span>
                <a class="btn btn-primary btn-sm mt-2" href="#">Ver <i class="mdi mdi-arrow-right"></i></a>
              </div>
            </div>

          </div>
          <!-- Slide 2 -->
          <div class="carousel-item">
            <div class="card service-card mx-auto">
              <div class="card-body text-center d-block w-20 card-content-left-center">
                <i class="mdi mdi-account-multiple-plus fs-1 text-primary"></i>
                <h4 class="mt-3 text-white text-shadow">Crear Personajes</h4>
                <p class="text-white text-shadow">Ingresa datos de tu personajes favorito.</p>
                <a class="btn btn-primary btn-sm mt-2" href="#">Crear <i class="mdi mdi-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <!-- Slide 3 -->
          <div class="carousel-item">
            <div class="card service-card mx-auto">
              <div class="card-body text-center d-block w-20 card-content-right-center">
                <i class="mdi mdi mdi-account-edit fs-1 text-primary"></i>
                <h4 class="mt-3 text-white text-shadow">Editar personajes</h4>
                <p class="text-white text-shadow">Modifica los personajes que desees.</p>
                <a class="btn btn-primary btn-sm mt-2" href="#">Editar <i class="mdi mdi-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <!-- Slide 4 -->
          <div class="carousel-item">
            <div class="card service-card mx-auto">
              <div class="card-body text-center d-block w-20 card-content-right ">
                <i class="mdi mdi-account-multiple-remove fs-1 text-primary"></i>
                <h4 class="mt-3 text-white text-shadow">Eliminar personajes</h4>
                <p class="text-white text-shadow">Elimina los personajes que desees.</p>
                <a class="btn btn-primary btn-sm mt-2" href="#">Eliminar <i class="mdi mdi-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- Controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!-- Carousel End -->
    </div>
  </section>
</body>
