
:host {
    display: contents; 
    background: url(https://images.hdqwalls.com/download/square-glitch-chaos-banner-abstract-4k-im-3840x2160.jpg);
    color: #ffffff; 
    text-align: center; 
}

body {
    background: url(https://images.hdqwalls.com/download/square-glitch-chaos-banner-abstract-4k-im-3840x2160.jpg) #181818; 
}

.hover-effect {
    color:  #181818; 
    text-decoration: underline; 
    
}

.hover-effect:hover {
    color: #68e18a; 
}


.monomaniac-one-regular {
    font-family: "Monomaniac One", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .text-shadow {
    text-shadow: 2px 2px 4px rgba(44, 135, 165, 10); /* Aplicación de la sombra */
  }
  

.service-card {
    background:   rgba(0, 0, 0, 0.5);
    color: white;
    position: relative;
    overflow: hidden;
    
}




.card-content-left {
    background: url(https://i.pinimg.com/originals/6d/dc/59/6ddc5980dc5a133c8376fd63b18df77a.png) center/cover no-repeat;
}

.card-content-left-center {
    background: url(https://www.chromethemer.com/wallpapers/chromebook-wallpapers/images/960/naruto-concept-art-chromebook-wallpaper.jpg) center/cover no-repeat;
}

.card-content-right-center {
    background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/55093ff4-b389-4ac3-b9c3-f54ea7cfe578/db3t1vk-abad4903-a73e-4335-9034-eeef407e9890.jpg/v1/fill/w_1192,h_670,q_70,strp/eren_jaeger__attack_on_titan__minimalist_by_nuralifsidoel_db3t1vk-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjE2MCIsInBhdGgiOiJcL2ZcLzU1MDkzZmY0LWIzODktNGFjMy1iOWMzLWY1NGVhN2NmZTU3OFwvZGIzdDF2ay1hYmFkNDkwMy1hNzNlLTQzMzUtOTAzNC1lZWVmNDA3ZTk4OTAuanBnIiwid2lkdGgiOiI8PTM4NDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.dEAl2v1bTl12Us9T6N7CE3B-OxHMqepJ0YkNxvxT-ao) center/cover no-repeat;
}

.card-content-right {
    background: url(https://c4.wallpaperflare.com/wallpaper/209/629/221/anime-death-note-black-hair-brown-hair-wallpaper-preview.jpg) center/cover no-repeat;
    opacity: 10;
}

.service-card .content {
    position: relative;
    z-index: 1;
}

.service-card a, .service-card h4, .service-card p {
    color: white;
    font-weight: bold;
}


  


.card.service-card {
    border-radius: 10px; /* Borde redondeado */
    overflow: clip; /* Para que la imagen no se salga de los límites */
    width: 60%; /* Ajusta el ancho del card */
    max-width: 600px; /* Limita el ancho máximo */
    display: block;
  }
  
  .card-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 10px;
  }
  
  
  
  .btn-primary {
    background-color: #007bff; /* Color de botón */
    border: #181818;
  }
  
  .btn-primary:hover {
    background-color: #b30000; /* Color de botón en hover */
  }
  
  @media (max-width: 768px) {
    .card-body {
      flex-direction: column; /* Coloca el texto sobre la imagen en pantallas pequeñas */
    }
  
    .text-content, .image-content {
      width: 100%; /* Ocupa todo el ancho */
    }
  
  }
  